body {
    font-family: 'Acme', sans-serif;
}

header {
    background: #ba3616;
    color: #fff;
    padding: 50px 0px;
}

header h1 {
    font-size: 4rem;
}

header label {
    font-size: 2rem;
}
.gif-buttons {
    padding: 25px 0px;
}

.gif-buttons .btn-generate-gifs {
    margin: 10px;
}

.box-gifs {
    background: #ba3616;
    padding: 25px 0px;
}